<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/form-styles.css">
</head>

<body>
    <header>
        <div class="top-navbar">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo-mercado-liebre">
            <div class="search-bar">
                <form action="/busqueda">
                    <input type="text" name="search" placeholder="Buscar productos, marcas">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <p class="opportunities"><i class="fas fa-hand-holding-usd"></i></i>Comprá en cuotas y sin tarjeta de
                crédito
            </p>
        </div>

        <nav class="navigation">
            <ul class="left-navigation">
                <li type="none"><a href="#offers">Ofertas</a></li>
                <li type="none"><a href="#Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li type="none"><a href="#Vender">Vender</a></li>
                <li type="none"><a href="#Ayuda">Ayuda</a></li>
            </ul>
            <ul class="right-navigation">
                <li type="none"><a href="register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li type="none"><a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li type="none"><a href="#Mis compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img src="/images/img-home-banner.jpg" alt="home-banner" class="home-banner">
    </header>

    <main>
        <section class="articles">
            <div id="last-visit"></div>
            <p class="title">Basado en tu última visita</p>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="foto cafetera moulinex" class="article-img">
                <div class="article-details">
                    <div class="icon-send"><i class="fas fa-truck"></i></div>
                    <p class="price">$6.770</p>
                    <p class="discount">40% off</p>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="foto macbook pro" class="article-img">
                <div class="article-details">
                    <div class="icon-send"><i class="fas fa-truck"></i></div>
                    <p class="price">$230.000</p>
                    <p class="discount">20% off</p>
                    <p class="description">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="foto samsung galaxy s10" class="article-img">
                <div class="article-details">
                    <div class="icon-send"><i class="fas fa-truck"></i></div>
                    <p class="price">$70.500</p>
                    <p class="discount">10% off</p>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="foto tv samsung smart" class="article-img">
                <div class="article-details">
                    <div class="icon-send"><i class="fas fa-truck"></i></div>
                    <p class="price">$23.200</p>
                    <p class="discount">5% off</p>
                    <p class="description">SmartTV Samsung 40"</p>
                </div>
            </article>
        </section>

        <section class="articles">
            <div id="offers"></div>
            <p class="title">Ofertas</p>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="foto cafetera moulinex" class="article-img">
                <div class="article-details">
                    <div class="icon-send"><i class="fas fa-truck"></i></div>
                    <p class="price">$6.770</p>
                    <p class="discount">40% off</p>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="foto macbook pro" class="article-img">
                <div class="article-details">
                    <div class="icon-send"><i class="fas fa-truck"></i></div>
                    <p class="price">$230.000</p>
                    <p class="discount">20% off</p>
                    <p class="description">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="foto samsung galaxy s10" class="article-img">
                <div class="article-details">
                    <div class="icon-send"><i class="fas fa-truck"></i></div>
                    <p class="price">$70.500</p>
                    <p class="discount">10% off</p>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="foto tv samsung smart" class="article-img">
                <div class="article-details">
                    <div class="icon-send"><i class="fas fa-truck"></i></div>
                    <p class="price">$23.200</p>
                    <p class="discount">5% off</p>
                    <p class="description">SmartTV Samsung 40"</p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <div class="icon"><i class="fas fa-credit-card"></i></div>
            <p><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <div class="icon"><i class="fas fa-gift"></i></div>
            <p><strong>Envío gratis desde $ 2.500</strong></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <div class="icon"><i class="fas fa-user-shield"></i></div>
            <p><strong>Seguridad, de principio a fin</strong></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>