<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/form-styles.css">
</head>


<body>
    <header>
        <div class="top-navbar">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo-mercado-liebre"></a>
            <div class="search-bar">
                <form action="/busqueda">
                    <input type="text" name="search" placeholder="Buscar productos, marcas">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <p class="opportunities"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
                crédito
            </p>
        </div>

        <nav class="navigation">
            <ul class="left-navigation">
                <li type="none"><a href="#offers">Ofertas</a></li>
                <li type="none"><a href="#Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li type="none"><a href="#Vender">Vender</a></li>
                <li type="none"><a href="#Ayuda">Ayuda</a></li>
            </ul>
            <ul class="right-navigation">
                <li type="none"><a href="register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li type="none"><a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li type="none"><a href="#Mis compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img src="/images/img-home-banner.jpg" alt="home-banner" class="home-banner">
    </header>

    <main>
        <form action="/register" method="post" class="register-form">
            <div>
                <input type="text" name="name" class="name" placeholder=" Nombre y Apellido" minlength="3">
                <span>Formato no válido</span>
            </div>
            <div>
                <input type="text" name="username" class="username" placeholder=" Nombre de usuario" minlength="2">
                <span>Formato no válido</span>
            </div>
            <div>
                <label>Fecha de nacimiento: </label>
                <input type="date" name="birth" id="birth" class="birth">
                <span>Formato no válido</span>
            </div>
            <div>
                <input type="text" name="address" class="address" placeholder=" Domicilio" minlength="3">
                <span>Formato no válido</span>
            </div>
            <div class="profile">
                <label>Perfil de usuario: </label>
                <div class="profile-options">
                    <label><input type="radio" name="profile" value="buyer"> Comprador</label>
                    <label><input type="radio" name="profile" value="seller"> Vendedor</label>
                </div>
            </div>
            <div class="interest">
                <label>Categorias de interés:</label>
                <label><input type="checkbox" name="interest" value="electro"> Electro</label>
                <label><input type="checkbox" name="interest" value="fashion"> Moda</label>
                <label><input type="checkbox" name="interest" value="home"> Hogar</label>
                <label><input type="checkbox" name="interest" value="toys"> Juguetería</label>
                <label><input type="checkbox" name="interest" value="health-life"> Vida Sana</label>
            </div>
            <div class="picture">
                <label for="picture">Foto de usuario: </label>
                <input type="file" name="picture" accept=".jpg">
            </div>
            <div>
                <input type="password" name="password" class="password" placeholder="Ingrese su contraseña" minlength="8">
                <span>La contraseña debe contener 8 caracteres</span>
            </div>
            <div>
                <input type="password" name="password-check" class="password-check"
                    placeholder="Confirmar contraseña" minlength="8">
                <span>La contraseña debe contener 8 caracteres</span>
            </div>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </form>
    </main>
    <footer>
        <section>
            <div class="icon"><i class="fas fa-credit-card"></i></div>
            <p><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <div class="icon"><i class="fas fa-gift"></i></div>
            <p><strong>Envío gratis desde $ 2.500</strong></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <div class="icon"><i class="fas fa-user-shield"></i></div>
            <p><strong>Seguridad, de principio a fin</strong></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>