/*Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

Paleta de colores:
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/*Header*/
header {
    background-color: #EAC926;
    width: 100%;
}

.top-navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.top-navbar a{
    width: 50%;
}

.logo-mercado-liebre {
    width: 100%;
    padding: 10px;
}

.search-bar{ 
    width: 50%;
    padding: 10px;
    margin: auto;
    position: relative;
}

.search-bar input{
    width: 100%;
    border: none;
    padding: 8px 28px 8px 8px;
    font-size: 13px;
    border-radius: 5px;
}

.search-bar button{
    height: 30px;
    width: 30px;
    padding: 7px;
    position: absolute;
    right: 13px;
    border: none;
    background-color: white;
    color: gray;
}

.opportunities {
    text-align: center;
    width: 100%;
    padding: 10px;
}

.navigation{
    display: none;
}

.burger-menu {
    width: 40px;
    font-size: 20px;
    background-color: #1259c3;
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0px;
}

.home-banner{
    width: 100%;
    display: block;
    margin-top: 15px;
}

/* /Header*/

/*Main*/
main{
    width: 90%;
    margin: auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
    font-size: 12px;
}

.title {
    font-size: 24px;
    width: 100%;
    margin: 10px 0px;
}

article{
    margin-bottom: 10px;
    width: 100%;
}

.article-details{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.article-img{
    width: 100%;
}

.icon-send{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.icon-send:hover{
    transform: rotateZ(270deg);
}

.price {
    font-size: 18px;
    margin: auto;
    width: 30%;
}

.discount {
    font-size: 16px;
    color: #39b54a;
    margin: auto;
    padding-left: 10px;
    width: 70%;
}

.description {
    font-size: 16px;
    display: none;
}

/*/Main*/

/*Footer*/
footer {
    text-align: center;
    background-color: white;
    padding: 2% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
footer section{
    width: 33%;
}
footer p{
    width: 100%;
    margin: 2%;
}

footer .icon {
    font-size: 2em;
    line-height: 10px;
    color: #1259c3;
    margin-bottom: 10px;
}

footer .icon:hover {
    color: #086bff;
}
/*/Footer*/

/*Media queries*/
/*Tablets*/
@media (min-width: 361px){
    /*Header*/
    /*Top navbar*/
    .top-navbar a{
        width: 33%;
    }
    
    .search-bar{ 
        width: 33%;
    }
    
    .opportunities {
        width: 33%;
    }
    
    .burger-menu{
        display: none;
    }

    /*Navigation*/
    .navigation{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        padding: 0 10px;
    }
    
    .navigation a {
        color: black;
        text-decoration: none;
        display: inline-block;
        padding: 5px 0;
    }

    .navigation ul{
        display: flex;
        width: 45%;
    }
    .navigation li{
        font-size: 13px;
        margin: 0 5px;
    }

    .navigation .right-navigation {
        justify-content: flex-end;
    }

    /*Main*/
    article{
        width: 45%;
    }

    article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }  

    .description {
        display: block;
        color: white;
    }

    article:hover .description{
        color: black;
    }


} 

/*Desktop*/
@media (min-width: 769px){  
    article{
        width: 23%;
    }

}